.homes {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px 18.7px;
  max-width: 1280px;
  min-height: 1692px;
}
.show-more-button {
  width: 147px;
  height: 48px;
}
.stays-section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-61xl);
  gap: var(--gap-3xl);
}
.contact-us,
.localhost-inc-all,
.privacy-policy,
.terms-conditions {
  position: relative;
  line-height: 17px;
  font-weight: 300;
}
.contact-us,
.privacy-policy,
.terms-conditions {
  display: inline-block;
  min-width: 85px;
}
.contact-us,
.terms-conditions {
  min-width: 120px;
}
.contact-us {
  min-width: 67px;
}
.privacy-policy-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.band-inner,
.localhost-inc-all-rights-res-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1280px;
}
.localhost-inc-all-rights-res-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.band-inner {
  width: 100%;
  justify-content: center;
}
.band,
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.band {
  align-self: stretch;
  border-top: 1px solid var(--light-grey-border);
  box-sizing: border-box;
  padding: var(--padding-3xs) var(--padding-61xl) var(--padding-xs);
  max-width: 100%;
}
.homepage {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-archivo);
}
@media screen and (max-width: 1275px) {
  .homes {
    max-width: 100%;
  }
  .stays-section {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .band-inner,
  .localhost-inc-all-rights-res-parent {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .stays-section {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .localhost-inc-all-rights-res-parent {
    flex-wrap: wrap;
  }
  .band {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .privacy-policy-parent {
    flex-wrap: wrap;
  }
}
