.create-account {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-family: inherit;
}
.confirm-password,
.email,
.password {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 51px;
  font-family: var(--font-archivo);
  font-size: var(--font-size-base);
  color: var(--light-text);
}
.form-fields {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base-7);
}
.search-flights-button {
  width: 160px;
  height: 52px;
}
.search-flights-button:hover {
  background-color: var(--color-saddlebrown);
}
.form1 {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl-7);
  max-width: 100%;
}
.form-container,
.frame-child {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.form-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 13.7px;
}
.frame-child {
  flex: 1;
  position: relative;
  border-top: 1.6px solid var(--color-whitesmoke-200);
}
.create-account-parent,
.line-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.line-wrapper {
  height: 13.7px;
  flex-direction: row;
  padding: 0 0 12.1px;
  box-sizing: border-box;
}
.create-account-parent {
  flex-direction: column;
  gap: var(--gap-5xl);
}
.login {
  color: var(--accent);
}
.i-already-have-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.02em;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
}
.form,
.form-wrapper,
.login-sections {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.form {
  flex: 1;
  background-color: var(--white);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-21xl) var(--padding-29xl);
  box-sizing: border-box;
  gap: 37.7px;
}
.form-wrapper,
.login-sections {
  flex-direction: row;
}
.form-wrapper {
  width: 589px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.login-sections {
  align-self: stretch;
  justify-content: center;
  padding: 170.1px var(--padding-xl) 170.2px;
  box-sizing: border-box;
  background-image: url(/public/login-sections@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--dark);
  font-family: var(--font-archivo);
}
.contact-us2,
.localhost-inc-all2,
.privacy-policy2,
.terms-conditions2 {
  position: relative;
  line-height: 17px;
  font-weight: 300;
}
.contact-us2,
.privacy-policy2,
.terms-conditions2 {
  display: inline-block;
  min-width: 85px;
}
.contact-us2,
.terms-conditions2 {
  min-width: 120px;
}
.contact-us2 {
  min-width: 67px;
}
.privacy-policy-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frame-div,
.localhost-inc-all-rights-res-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1280px;
}
.localhost-inc-all-rights-res-container {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-div {
  width: 100%;
  justify-content: center;
}
.band2,
.sign-up-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.band2 {
  align-self: stretch;
  border-top: 1px solid var(--light-grey-border);
  box-sizing: border-box;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-61xl) var(--padding-xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-archivo);
}
.sign-up-page {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
.sign-up-page:hover {
  background: linear-gradient(#fff, #fff), #87550a;
}
@media screen and (max-width: 1275px) {
  .frame-div,
  .localhost-inc-all-rights-res-container {
    max-width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .login-sections {
    padding-top: var(--padding-92xl);
    padding-bottom: var(--padding-92xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .form {
    gap: var(--gap-lgi);
    padding: var(--padding-7xl) var(--padding-5xl);
    box-sizing: border-box;
  }
  .login-sections {
    gap: var(--gap-9xl);
    padding-top: var(--padding-53xl);
    padding-bottom: var(--padding-53xl);
    box-sizing: border-box;
  }
  .localhost-inc-all-rights-res-container {
    flex-wrap: wrap;
  }
  .band2 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .create-account {
    font-size: var(--font-size-2xl);
  }
  .privacy-policy-container {
    flex-wrap: wrap;
  }
}
