.form-frame,
.login-sections1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.form-frame {
  width: 589px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.login-sections1 {
  align-self: stretch;
  justify-content: center;
  padding: var(--padding-184xl-5) var(--padding-xl);
  box-sizing: border-box;
  background-image: url(/public/login-sections1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
  margin-top: -0.1px;
}
.contact-us3,
.localhost-inc-all3,
.privacy-policy3,
.terms-conditions3 {
  position: relative;
  line-height: 17px;
  font-weight: 300;
}
.contact-us3,
.privacy-policy3,
.terms-conditions3 {
  display: inline-block;
  min-width: 85px;
}
.contact-us3,
.terms-conditions3 {
  min-width: 120px;
}
.contact-us3 {
  min-width: 67px;
}
.privacy-policy-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.band-inner1,
.localhost-inc-all-rights-res-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 1280px;
}
.localhost-inc-all-rights-res-parent1 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.band-inner1 {
  width: 100%;
  justify-content: center;
}
.band3,
.sign-in-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.band3 {
  align-self: stretch;
  border-top: 1px solid var(--light-grey-border);
  align-items: center;
  padding: var(--padding-3xs) var(--padding-61xl) var(--padding-xs);
  max-width: 100%;
  z-index: 2;
  margin-top: -0.1px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-archivo);
}
.sign-in-page {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  align-items: flex-start;
  padding: 0 0 0.1px;
  line-height: normal;
  letter-spacing: normal;
}
.sign-in-page:hover {
  background: linear-gradient(#fff, #fff), #87550a;
}
@media screen and (max-width: 1275px) {
  .band-inner1,
  .localhost-inc-all-rights-res-parent1 {
    max-width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .login-sections1 {
    padding-bottom: 132px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .login-sections1 {
    gap: var(--gap-9xl);
    padding-bottom: 86px;
    box-sizing: border-box;
  }
  .localhost-inc-all-rights-res-parent1 {
    flex-wrap: wrap;
  }
  .band3 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .privacy-policy-parent1 {
    flex-wrap: wrap;
  }
}
