.help-centre,
.support {
  position: relative;
  display: inline-block;
}
.support {
  font-size: var(--font-size-xl);
  font-weight: 600;
  min-width: 75px;
}
.help-centre {
  min-width: 85px;
}
.aircover {
  display: inline-block;
  min-width: 63px;
}
.aircover,
.cencellation-options,
.combating-discrimination,
.report-neighbourhood-concern,
.supporting-people-with {
  position: relative;
}
.support-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
  min-width: 315px;
  max-width: 100%;
}
.hosting,
.local-home {
  position: relative;
  display: inline-block;
}
.hosting {
  font-size: var(--font-size-xl);
  font-weight: 600;
  min-width: 73px;
}
.local-home {
  min-width: 83px;
}
.cover-for-hosts {
  display: inline-block;
  min-width: 107px;
}
.cover-for-hosts,
.hosting-resources {
  position: relative;
}
.community-forum {
  display: inline-block;
  min-width: 128px;
}
.community-forum,
.hosting-responsibly {
  position: relative;
}
.hosting-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
  min-width: 315px;
  max-width: 100%;
}
.localhost,
.newsroom {
  position: relative;
  display: inline-block;
}
.localhost {
  font-size: var(--font-size-xl);
  font-weight: 600;
  min-width: 92px;
}
.newsroom {
  min-width: 78px;
}
.careers,
.gift-cards,
.investres,
.new-features {
  position: relative;
  display: inline-block;
  min-width: 99px;
}
.careers,
.gift-cards,
.investres {
  min-width: 57px;
}
.gift-cards,
.investres {
  min-width: 66px;
}
.gift-cards {
  min-width: 69px;
}
.localhost-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
  min-width: 315px;
  max-width: 100%;
}
.footer,
.footer-inner,
.frame-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-container {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.footer,
.footer-inner {
  flex-wrap: wrap;
}
.footer-inner {
  flex: 1;
  justify-content: flex-start;
  max-width: 1280px;
}
.footer {
  align-self: stretch;
  background-color: var(--light-bg);
  border-top: 1px solid var(--light-grey-border);
  box-sizing: border-box;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-61xl);
  min-height: 288px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--dark);
  font-family: var(--font-archivo);
}
@media screen and (max-width: 1275px) {
  .frame-container {
    flex-wrap: wrap;
  }
  .footer-inner {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .footer {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .hosting,
  .localhost,
  .support {
    font-size: var(--font-size-base);
  }
}
