.amenities {
  margin: 0;
  width: 780.8px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.mdilake-icon {
  height: 21px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.lakeside {
  position: relative;
  display: inline-block;
  min-width: 64px;
}
.mdilake-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.tablertools-kitchen-2-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.kitchen {
  flex: 1;
  position: relative;
}
.tablertools-kitchen-2-parent {
  width: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.material-symbolsnest-cam-iq-o-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.security-cameras-on {
  position: relative;
}
.material-symbolsnest-cam-iq-o-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.ionwifi-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.wifi {
  position: relative;
  display: inline-block;
  min-width: 27px;
}
.amenitiessection1,
.ionwifi-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.amenitiessection1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-3xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
  min-width: 195px;
}
.phcar-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.free-parking {
  position: relative;
  display: inline-block;
  min-width: 89px;
}
.phcar-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.cilshower-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.outdoor-shower {
  position: relative;
  display: inline-block;
  min-width: 114px;
}
.cilshower-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.material-symbolswater-voc-out-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.hot-water {
  position: relative;
  display: inline-block;
  min-width: 68px;
}
.material-symbolswater-voc-out-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.covidpersonal-hygiene-hand-li-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.shampoo {
  position: relative;
  display: inline-block;
  min-width: 70px;
}
.amenitiessection2,
.covidpersonal-hygiene-hand-li-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.amenitiessection2 {
  flex: 0.6055;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-97xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
  min-width: 195px;
}
.phfire-extinguisher-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.fire-extinguisher {
  position: relative;
  display: inline-block;
  min-width: 120px;
}
.phfire-extinguisher-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.streamlinefood-kitchenware-re-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.freezer {
  position: relative;
  display: inline-block;
  min-width: 55px;
}
.streamlinefood-kitchenware-re-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.material-symbolscoffee-maker-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.coffee-maker {
  position: relative;
  display: inline-block;
  min-width: 95px;
}
.material-symbolscoffee-maker-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.mdistove-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.glass-stove {
  position: relative;
  display: inline-block;
  min-width: 84px;
}
.mdistove-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.amenitiessection1-parent,
.amenitiessection3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.amenitiessection3 {
  flex: 0.6307;
  flex-direction: column;
  padding: 0 var(--padding-91xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-sm);
  min-width: 195px;
}
.amenitiessection1-parent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-11xl);
}
.search-flights-button2 {
  width: 185px;
  height: 48px;
}
.search-flights-button2:hover {
  background-color: var(--color-saddlebrown);
}
.amenities-parent,
.frame-parent12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent12 {
  align-self: stretch;
  gap: var(--gap-12xl);
  font-size: var(--font-size-base);
}
.amenities-parent {
  flex: 1;
  gap: var(--gap-xl);
  min-width: 547px;
  max-width: 100%;
}
.where-youll-be {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
}
.vector-icon3 {
  height: 11px;
  width: 9.3px;
  position: relative;
}
.the-bridle-path {
  position: relative;
  display: inline-block;
  min-width: 109px;
}
.vector-group,
.where-youll-be-parent {
  display: flex;
  justify-content: flex-start;
}
.vector-group {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
  font-size: var(--font-size-base);
}
.where-youll-be-parent {
  width: 326px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-8xs);
  max-width: 100%;
}
.suncloud-icon {
  height: 47px;
  width: 47px;
  position: relative;
}
.temperature,
.weather-detail {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
}
.temperature {
  line-height: 150%;
  font-weight: 600;
  min-width: 38px;
}
.weather-detail {
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  min-width: 93px;
  white-space: nowrap;
}
.weather-info,
.weather-info1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.weather-info1 {
  flex: 1;
  flex-direction: column;
  padding: 0;
  gap: var(--gap-11xs);
}
.weather-info {
  width: 108px;
  flex-direction: row;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-base);
}
.c,
.sun-icon {
  position: relative;
}
.sun-icon {
  width: 40px;
  height: 40px;
}
.c {
  align-self: stretch;
  height: 11px;
  display: inline-block;
}
.c-wrapper,
.sun-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.c-wrapper {
  align-self: stretch;
  align-items: center;
}
.sun-parent {
  width: 40px;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.aug,
.sun {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.frame-parent15,
.sun-group {
  flex-direction: column;
  justify-content: flex-start;
}
.sun-group {
  width: 40px;
  display: flex;
  align-items: center;
}
.frame-parent15 {
  display: none;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.suncloud-icon1 {
  width: 40px;
  height: 40px;
  position: relative;
}
.c1 {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.c-container,
.suncloud-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.c-container {
  align-self: stretch;
  align-items: center;
}
.suncloud-parent {
  width: 40px;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.aug1,
.mon {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.frame-parent16,
.mon-parent {
  flex-direction: column;
  justify-content: flex-start;
}
.mon-parent {
  width: 40px;
  display: flex;
  align-items: center;
}
.frame-parent16 {
  display: none;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.c2,
.sun-icon1 {
  position: relative;
}
.sun-icon1 {
  width: 40px;
  height: 40px;
}
.c2 {
  align-self: stretch;
  height: 11px;
  display: inline-block;
}
.c-frame,
.sun-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.c-frame {
  align-self: stretch;
  align-items: center;
}
.sun-container {
  width: 40px;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.aug2,
.tue {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.frame-parent17,
.tue-parent {
  flex-direction: column;
  justify-content: flex-start;
}
.tue-parent {
  width: 40px;
  display: flex;
  align-items: center;
}
.frame-parent17 {
  display: none;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.suncloud-icon2 {
  width: 40px;
  height: 40px;
  position: relative;
}
.c3 {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.c-wrapper1,
.suncloud-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.c-wrapper1 {
  align-self: stretch;
  align-items: center;
}
.suncloud-group {
  width: 40px;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.aug3,
.wed {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.frame-parent18,
.wed-parent {
  flex-direction: column;
  justify-content: flex-start;
}
.wed-parent {
  width: 40px;
  display: flex;
  align-items: center;
}
.frame-parent18 {
  display: none;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.suncloud-icon3 {
  width: 40px;
  height: 40px;
  position: relative;
}
.c4 {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.c-wrapper2,
.suncloud-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.c-wrapper2 {
  align-self: stretch;
  align-items: center;
}
.suncloud-container {
  width: 40px;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.aug4,
.thu {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.frame-parent19,
.thu-parent {
  flex-direction: column;
  justify-content: flex-start;
}
.thu-parent {
  width: 40px;
  display: flex;
  align-items: center;
}
.frame-parent19 {
  display: none;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.c5,
.sun-icon2 {
  position: relative;
}
.sun-icon2 {
  width: 40px;
  height: 40px;
}
.c5 {
  align-self: stretch;
  height: 11px;
  display: inline-block;
}
.c-wrapper3,
.sun-parent1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.c-wrapper3 {
  align-self: stretch;
  align-items: center;
}
.sun-parent1 {
  width: 40px;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.fri,
.sep {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.fri-parent {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent20,
.weather-info-parent {
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent20 {
  display: none;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.weather-info-parent {
  width: 154px;
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--font-size-3xs);
}
.frame-parent14,
.rectangle-icon {
  align-self: stretch;
  max-width: 100%;
}
.frame-parent14 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  row-gap: 20px;
  gap: var(--gap-0);
}
.rectangle-icon {
  height: 248px;
  position: relative;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-child4 {
  width: 37px;
  height: 65px;
  position: absolute;
  margin: 0 !important;
  right: 12px;
  bottom: 161px;
  border-radius: var(--br-9xs);
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.frame-parent13 {
  align-self: stretch;
  flex-direction: column;
  position: relative;
  gap: var(--gap-xl);
}
.frame-parent13,
.location-amenities,
.location-amenities-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.location-amenities-inner {
  width: 480px;
  flex-direction: column;
  min-width: 480px;
}
.location-amenities {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-lgi);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--dark);
  font-family: var(--font-archivo);
}
@media screen and (max-width: 1275px) {
  .location-amenities-inner {
    flex: 1;
  }
  .location-amenities {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .amenitiessection1-parent {
    flex-wrap: wrap;
  }
  .amenities-parent {
    min-width: 100%;
  }
  .frame-parent14 {
    flex-wrap: wrap;
  }
  .location-amenities-inner {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .amenities {
    font-size: var(--font-size-lgi);
  }
  .amenitiessection2,
  .amenitiessection3 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
    flex: 1;
  }
  .frame-parent12 {
    gap: var(--gap-mini);
  }
  .where-youll-be {
    font-size: var(--font-size-lgi);
  }
}
