.frame-child5 {
  height: 64px;
  width: 64px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.johnny-cash,
.june-2023 {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
}
.johnny-cash {
  line-height: 150%;
  font-weight: 600;
  min-width: 101px;
}
.june-2023 {
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  min-width: 69px;
}
.johnny-cash-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.b2,
.ellipse-group {
  display: flex;
  align-items: center;
}
.ellipse-group {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.b2 {
  height: 11px;
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  min-width: 25px;
}
.vector-icon4 {
  height: 16px;
  width: 16px;
  position: relative;
}
.frame-parent21,
.parent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.parent1 {
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  gap: var(--gap-10xs);
}
.frame-parent21 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.michelles-place-was {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 160%;
}
.reviewcard {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--light-grey-border);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-4xl);
  gap: var(--gap-xs);
  min-width: 350px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--dark);
  font-family: var(--font-archivo);
}
@media screen and (max-width: 750px) {
  .reviewcard {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .frame-parent21 {
    flex-wrap: wrap;
  }
}
