.or-sign-up {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
}
.image-icon {
  width: 40px;
  height: 40.5px;
  position: relative;
  object-fit: contain;
}
.text {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.24px;
}
.social-login {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-lg);
  min-width: 125px;
}
.image-icon1 {
  width: 40px;
  height: 40.5px;
  position: relative;
  object-fit: contain;
}
.text1 {
  position: relative;
  letter-spacing: 0.24px;
  display: inline-block;
  min-width: 73px;
}
.social-login1 {
  flex: 0.5659;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-22xl);
  box-sizing: border-box;
  gap: var(--gap-lg);
  min-width: 125px;
}
.image-icon2 {
  width: 40px;
  height: 40.5px;
  position: relative;
  object-fit: contain;
}
.text2 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.24px;
}
.social-login2 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-lg);
  min-width: 125px;
}
.social-login-container,
.social-media-login {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-login-container {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-9xs) 0 0;
  gap: 14px 12px;
  text-align: center;
  color: var(--light-text);
}
.social-media-login {
  flex-direction: column;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--dark);
  font-family: var(--font-archivo);
}
